header{
    background:#3A3131;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    /* height: 1500px; */
    height: 100%;
}

section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 60px; 
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 500px;
}

h1{
    color:aliceblue;
    padding: 0 30px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1:hover{
    color: rgb(255, 111, 0);
}

.header-btn{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 111, 0);
}

.header-btn:hover{
    color: blueviolet;
    background-color: rgb(255, 178, 12);
}

li{
    display: inline-block;
}

#nav-header{
    width: 70%;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.name{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    align-items: center;
    font-size: 50px;
}

.click{
    display: inline-block;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

.click:hover{
    background-color: rgb(255, 178, 12);
    color: black;
    font-style: italic;
}

#adv-btn{
    text-decoration: none;
    color: black;
}

.second{
    background-color: rgb(255, 149, 0);
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

.third{
    display: flex;
    gap: 10px;
    background-color: rgb(255, 89, 0);
    height: 500px;
}

.card{
    height: 300px;
    width: 300px;
    background-color: rgb(222, 229, 235);
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card2{
    height: 300px;
    width: 300px;
    background-color: rgb(222, 229, 235);
    border-radius: 50px;
}

.advantages{
    background-color: rgb(222, 229, 235);
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.adv-text{
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.section-name{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    font-weight: bold;
}

.text{
    text-align: center;
    font-size: 100px;
}

#button{
    background-image: url('up 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#logo{
    width: 150px;
    height: 150px;
    position: relative;
    top: 0px;
    left: 20px;
    background-image: url('logo_of_company-removebg-preview.png');
    /* background-image: url('Форма\ 1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-name{
    display: block;
    position: relative;
    top: 0px;
    left: 30px;
    font-size: small;
    color: azure;
    padding: 0;
    margin: 0;
}

#logo-text{
    display: block;
    position: relative;
    top: 0px;
    left: 60px;
    font-size: small;
    color: azure;
    padding: 0;
    margin: 0;
}

/* #logo-container{
    
} */

.ul-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(145, 155, 164);
}

.main_text{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#info{
    display: block;
    position: relative;
    height: 20px;
    top: 20px;
    right: 10px;
    color: rgb(193, 143, 143);
    font-weight: 100;
    font-size: small;
}

#shop_catalog{
    background-color: orangered;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

.shop_card{
    width: 190px;
    height: 330px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.shop_card_img{
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 20%;
}

.shop_card_btn{
    padding: 10px 20px;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    margin: 20px;
    margin-top: 5px;
    text-align: center;
    background-color: orange;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.shop_card_text{
    font-weight: bold;
    margin-bottom: 5px;
}

.cost{
    text-align: right;
    margin: 2px;
    font-weight: bold;
    font-style: italic;
    width: 60px;
    height: 20px;
    right: 5px;
}

.shop_card_info{
    text-align: right;
    margin: 2px;
    margin-left: 20px;
    font-weight: 100;
    font-style: italic;
    width: 160px;
    height: 20px;
    color: green;
}